/*-- GLOBAL --*/

a {
    color: #000;
}

/*-- HEADER --*/
header {
    border-bottom: 4px solid #000;
    margin-bottom: 20px;
}

/*-- HOME --*/
.intro {
    width: 33%;
    .home {
        width: 100%;
        margin: 75px auto;
        text-align: center;
    }
}
.btn-intro {
    border: 2px solid #000;
    box-shadow: 2px 2px 3px #000;
    border-radius: 0;
}

/*--COUNTRIES --*/
.full-width {
    width: 58%;
    margin: 0 auto;
    .btn-home {
        @extend .btn-intro;
        width: 20%;
        margin: 30px 23%;
    }

}
tr {
    cursor: pointer;
}
/*-- CAPITALS --*/
.full-width {
    span {
        font-weight: 900;
    }
    ul {
        list-style: none;
        li {
            display: inline;
            img {
                width: 40%;
                height: 40%;
            }
        }
    }
    a {
        color: #a80000;
        transition: all 0.1s ease-in-out;
        &:hover {
            font-weight: 700;
            text-decoration: none;
        }
    }
}
/*-- ANIMATIONS --*/
.animate-view-container {
    position: relative;
    min-height: 100%;
}
.animate-view.ng-enter, .animate-view.ng-leave {
    transition: 1s linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
}
.animate-view.ng-enter {
    opacity: 0;
    z-index: 100;
}
.animate-view.ng-enter.ng-enter-active {
    opacity: 1;
}
.animate-view.ng-leave {
    opacity: 1;
    z-index: 99;
}
.animate-view.ng-leave.ng-leave-active {
    opacity: 0;
}
